.addexercise {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  padding: 30px 50px;
  margin: 20px auto;
  border-radius: 6px;
  background: #fff;
}

.addexercise-itemfield {
  width: 100%;
  color: #7b7b7b;
  font-size: 16px;
}

.addexercise-itemfield input,
.addexercise-itemfield textarea { /* Aplicăm stiluri comune pentru input-uri și textarea-uri */
  box-sizing: border-box;
  width: 100%;
  height: 50px; /* Înălțimea câmpului de intrare */
  border-radius: 4px;
  padding-left: 15px;
  border: 1px solid #c3c3c3;
  outline: none;
  color: #7b7b7b;
  font-family: Poppins;
  font-size: 14px;
}

.addexercise-price {
  display: flex;
  gap: 40px;
}

.addexercise-selector {
  padding: 10px 10px;
  width: 100px;
  height: 50px;
  font-size: 14px;
  color: #7b7b7b;
  border: 1px solid #7b7b7b8d;
  border-radius: 4px;
}

.addexercise-itemfield div {
  display: flex;
  width: 25%;
}

.addexercise-thumbnail-img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  object-fit: contain;
}

.addexercise-itemfield div img {
  margin-left: -30px;
}

.addexercise-btn {
  margin-top: 40px;
  width: 160px;
  height: 50px;
  border-radius: 6px;
  background: #6079ff;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

/* Stilizare pentru textarea */
.addexercise-itemfield textarea {
  height: 100px; /* Înălțimea câmpului de descriere */
  resize: none; /* Se dezactivează redimensionarea manuală */
  margin-top: 10px; /* Spațierea între textarea și câmpurile anterioare */
  padding-top: 10px; /* Spațierea între textul introdus și bordura sus */
}

/* Stilizare pentru textarea la dimensiuni mici */
@media (max-width: 800px) {
  .addexercise {
    width: auto;
    padding: 30px;
    margin: 20px 20px;
  }
}
